.blog {
    padding: $gutter;
    
    h1 {padding-left: $gutter / 2};
    
    .blog-post {
        @extend .columns;
        @extend .small-6;
        
        padding: 0 ($gutter / 2);
    }
    
    .button {margin-top: $gutter / 2}
    
    .row {padding: 0 ($gutter / 2)}
}

.blog-list {
    box-shadow: none;
    margin: ($gutter * 2) (-$gutter / 2) (-$gutter) (-$gutter / 2)!important;
    padding-bottom: 0;
    width: calc(100% + 15px) !important;

    h4 {@include section-header}

    ul {
        @extend .no-bullet;

        margin-bottom: 0;

        li {
            float: left;
            margin-bottom: $gutter;
            margin-right: $gutter;
            width: calc(100% / 3 - 10px);
            &:nth-child(3n) {margin-right: 0}
        }
    }
}

