.blog {
    padding: $gutter;
    
    h1 {margin-left: $gutter}
    
    .blog-post {
        @extend .columns;
        @extend .small-6;
        
        margin-top: $gutter;
        padding-right: $gutter;
        padding-left: $gutter / 2;
        &:first-of-type {
            padding-left: $gutter;
            padding-right: $gutter / 2;
        }
    }
    .button {margin-top: $gutter / 2}
}

.blog-list {
    box-shadow: none;
    margin-bottom: -$gutter !important;
    margin-top: $gutter * 2 !important;
    padding-bottom: 0;
    width: 100% !important;
    
    h4 {@include section-header}
    
    ul {
        @extend .no-bullet;
        
        margin-bottom: 0;
        
        li {
            float: left;
            margin-bottom: $gutter;
            width: calc(100% / 3);
        }
    }
}