.contact {
    margin-bottom: 0!important;
    //display: flex;

    h3 {
        font-family: 'Open Sans',sans-serif;
        font-size: 1rem;
        font-weight: normal;
    }

    h3 span {
        font-size: $section-heading-size;
        font-weight: bold
    }

    p {
        font-size: $small-text;        
        
        &:last-of-type {margin-bottom: 0}
    }

    textarea {min-height: 5rem}

    #contact__mailing-list {
        position: relative;
        top: 0.25em;
    }

    #map {width: 100%}

    .about {margin-top: $gutter * 2}

    .adress {margin-top: $gutter * 2}

    .button_send {
        margin-bottom: 0;
        width:100%
    }

    .columns {@extend .large-6}
}

@media #{$large-up} {
    .contact {
        .adress {margin-top: 0}
    }
}