.contact {
    margin-bottom: 0!important;

    p {font-size: $small-text}

    textarea {min-height: 5rem}

    #contact__mailing-list {
        position: relative;
        top: 0.25em;
    }

    #map {width: 100%}

    .about {
        margin-top: $gutter;
        text-align: justify;
        p:last-of-type {margin-bottom: 0}
    }
    
    .adress {margin-top: $gutter;}
    
    .button_send {
        margin-bottom: 0;
        width:100%
    }

    .columns {
        @extend .large-6;

        padding: 0 ($gutter / 2)
    }

    .row {padding: 0 ($gutter / 2)}
}

.vcard {
    border: 0;
    margin: ($gutter / 2) 0;
    padding: 0;

    .adr > span {
        font-family: 'Open Sans',sans-serif;
        font-size: 1rem;
        font-weight: normal;
    }

    .organization-name {
        @extend h3;
        
        color: $corporate;
        font-size: $section-heading-size;
        font-weight: bold;
    }
    
    .street {
        float: left;
        &:after { content: "\00a0 "; }
    }
}

@media #{$large-up} {
    .contact .adress {margin-top: 0}
}