.links {
    h1 {margin-bottom: $gutter / 2}
    
    li {
        &:not(:last-of-type) {margin-bottom: $gutter}
        span {
            display: block;
            font-size: 80%;
            font-style: italic;

            &:before { content: '\A'; }
        }
    }
    
    ul {
        @extend .no-bullet;

        margin-bottom: 0;
    }
    
    .columns {
        @extend .large-6;
        
        &:nth-child(2) {margin-top: $gutter}
    }
}

@media #{$large-up} {.links {.columns {&:nth-child(2) {margin-top: 0}}}}