.products {
    h1 {
        margin-bottom: -$gutter;
        margin-left: $gutter
    }
}

.product-series {
    @extend .columns;
    @extend .medium-4;
    @extend .small-6;
    
    margin-top: $gutter * 2;
}