.blog-images {
    @extend .columns;
    @extend .large-6;
    @extend .large-pull-6;
    
    margin-bottom: $gutter;
    padding: 0;
    text-align: center;

    li {max-width: calc(100% / 4 - (30px / 4))}

    li:last-of-type {margin-right: 0}

    .default-image {margin-bottom: 10px}

    .row {padding:	$gutter #{$gutter / 2}}

}

.blog-introduction {
    @extend .columns;
    @extend .large-6;
    @extend .large-push-6;

    font-size: 120%;
    font-style: italic;
    padding: 0;
    text-align: justify;
}

.single-blog-post {
    @extend section;
    padding: $gutter
}

.single-blog-content {
    text-align: justify;

    p:last-of-type {margin-bottom: 0}

    .clearing-blackout {
        .carousel,
        .clearing-main-next,
        .clearing-main-prev  {display: none}

        .visible-img {height: 100%}
    }

    .clearing-thumbs {
        margin: $gutter auto;

        li {
            margin: 0;
            text-align: center;
            width: 100%;
        }

        p {
            font-size: 80%;
            font-style: italic;
            margin-bottom: 0;
            margin-top: $gutter / 2;
            text-align: center;
        }
    }
}

@media #{$large-up} {
    .single-blog-content {
        .clearing-thumbs {
            float: right;
            margin: 0 0 $gutter ($gutter * 2);
        }
    }
}

@media #{$large-up} {
    .blog-images {padding-right: $gutter / 2}
    
    .blog-introduction {padding-left: $gutter / 2}
}