footer {
    @extend .row;
    background-color: $corporate;
    color: white;
    font-size: $small-text;
    margin-top: $gutter * 2;
    max-width: 100%;
    height: $footer-height;

    input[type="text"] {
        height: $input-height;
        margin-bottom: $gutter/2;
    }

    input[type="submit"] {
        background-color: transparent;
        border: solid 1px white;
        color: white;
        cursor: pointer;
        height: $input-height;
        width:100%;
    }

    .footer__container {
        @include content-width;
        padding: $gutter 0;
    }

    .mailing-list {
        max-width: 250px;
    }

    .footer__container>div {@extend .medium-6}

    .footer__copyright {
        font-size: $small-text;
        margin-top: $gutter;
        text-align: center;
    }

    .footer__heading {
        font-size: 1.2em;
        font-weight: bold;
        margin: $gutter 0 $gutter/2 0;
    }

    .footer__icon {float: left}

    .footer__icon-group a {
        margin-right: $gutter
    }

    .footer__icon-group a:last-child {margin-right: 0}

    .footer__text {margin-bottom: $gutter}
}

#SkypeButton_Call_agropartner1_1 {
    float: left;

    img {
        margin: 0!important;
        vertical-align: -5px!important;
    }

    p {margin-bottom: 0;}
}

@media #{$small-only} {
    footer {
        text-align: center;
        height: $footer-small-height;
        
        input[type="text"],
        input[type="submit"] {height: $input-height * 0.8}
        
        .footer__copyright {margin-top: $gutter * 2}
        
        .footer__icon-group_contact {
            width:112px;
            margin:0 auto;
        }

        .mailing-list{margin: 0 auto}
    }
}