.header {@extend .contain-to-grid}

.header.sticky {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;

    .top-bar {
        margin-bottom: 0;
        margin-top: 0;
    }

    .logo {max-width: 4rem}

    .top-bar__search, .top-bar__icon-group {display: none !important}
}

.logo {
    max-width: 4rem;
    margin-left: $gutter;
    margin-top: -2px;
    position: relative!important;
    z-index: 999;
}

.menu-icon {padding-top: 1.2rem}

.nav__main {
    clear: right;
    float: right;
    
    ul li {color: $gray-darker}
}

.sub-nav {
    @extend .hide-for-small-only;
    background-color: $corporate;
    margin: 0;
    margin-bottom: $gutter;
    padding-top: 0;
    width: 100%;

    ul {
        display: inline-block;
        margin: 0 auto;
        max-width: $max-width;
        padding: 0;
    }

    li {
        display: inline;

        a {padding:0}
    }
}

.sub-nav__container {
    @include content-width;
    padding-top: 5px;
}

.top-bar__icon-group {
    @extend .hide-for-small-only;
    float: left;
    margin-bottom: $gutter;
    margin-right: $gutter * 2;
}

.top-bar-section {
    box-shadow: none;
    display: block;
    margin: 0;
    padding: 0;
}

.top-bar__search {
    @extend .hide-for-small-only;
    float: left;
    a.button {
        float: left;
        font-size: 0.8rem;
        height: $gutter * 2;
        padding: 0.3rem 0.6rem;
        width: 40%;
    }
    input[type="text"] {
        float: left;
        height: $gutter * 2;
        width: 60%;
    }
}

.top-bar {
    ul {max-width: $max-width}

    ul li a {
        font-family: oblikbold;
        text-transform: uppercase
    }

    .toggle-topbar.menu-icon {margin-top: -12px}
}

@media #{$large-up} {
    .logo {max-width: 14rem}

    .top-bar-section ul li>a {font-size: 1.2em}
}

@media #{$medium-only} {
    .header.sticky .top-bar-section ul li>a {font-size: 0.825em}

    .header.sticky .nav__main {clear: none}

    .logo {max-width: 8rem;}

    .nav__main {clear: both;}

    .top-bar-section ul li>a {padding: 0 0.55rem!important;}
}

@media #{$medium-up} {
    ul.center-buttons {display: inline-block}

    .header .top-bar {
        margin-bottom: $gutter;
        margin-top: $gutter;
        padding: 0 $gutter;
    }

    .header.sticky {
        @include shadow;
        transition: all 0.4s ease;
    }

    .logo {
        float: left;
        margin-left: 0;
        margin-right: $gutter;
        margin-top: 0;
        position: initial;
    }

    .top-bar__icon-group, .top-bar__search {float: right}

}

@media #{$small-only} {
    .header .top-bar {
        @include shadow;
        margin-bottom: $gutter;
    }

    .top-bar-section {top:3px}

    .top-bar-section ul li>a {font-size: 0.825em}
}