section {
    @include shadow;
    @extend .row;
    display: inline-block;
    margin: $gutter 0 0 0;
    max-width: calc(100% - (#{$gutter} * 2));
    padding: $gutter;
}

section > section {
    box-shadow: none;
    margin-bottom: 0 !important;
    padding-bottom: 0;
    width: 100% !important;

    h4 {@include section-header}

    h5, h6 {font-family: oblikbold}

    h5 {
        color: $corporate;
        font-size: 1rem;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    h6 {
        font-size: 0.8rem;
        margin: 0
    }

    .row {padding-right: $gutter;}
}

section>.row {
    margin: 0;
    padding: 0;
}

.main-container section {
    margin: $gutter 0;
    width: 100%;
}