@mixin content-width {
    margin: 0 auto;
    max-width: $max-width;
}

@mixin section-header {
    background-color: $gray-light;
    color: $corporate;
    font-size: $section-heading-size;
    margin: 0 (- $gutter) $gutter (- $gutter);
    min-height: $gutter * 2;
    padding: 0 $gutter;
    padding-top: 0.25rem;
    text-transform: uppercase;
}

@mixin shadow {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}

@mixin invert {
    -webkit-filter: invert(100%);
}