.no-touch {

    /* Blog */

    .blog a:hover img {box-shadow: $thumb-box-shadow-hover}
    
    .blog a:hover h2 {color: $corporate}

    /* Contact */

    .vcard {
        .adr > span a:hover,
            .organization-name:hover {color: $gray-dark};
    }

    /* Footer */

    .footer {
        input[type="submit"]:hover {
            border: solid 1px gray;
            color: gray;
        }


    }
    .footer__icon-group a:hover {
        @include blur;
    }

    /* Header */

    .top-bar__icon-group a:hover {@include blur}

    .top-bar-section ul li {
        background: none;
        color: inherit;
    }

    .top-bar-section ul li:hover:not(.has-form)>a {
        background-color: $corporate;
        color: white;
    }
    
    /* Home */
    .top-products__image:hover img, 
    .blog-latest__image:hover img {box-shadow: $thumb-box-shadow-hover}

    /* Image Viewer */

    .clearing-thumbs_enlarged li.active a:hover {cursor:zoom-in;}
    .clearing-thumbs_links:hover {cursor: pointer}
    
    /* Products */
    .product-series a:hover img {box-shadow: $thumb-box-shadow-hover}
    
    .product-series a:hover h2 {color: $corporate}
    
    .similar-product img:hover {box-shadow: $thumb-box-shadow-hover}
    
    /* Section */

    section > section a:hover * {color: $gray-dark}

    /* Sidebar */
    
    aside a:hover img {box-shadow: $thumb-box-shadow-hover}
    
    /* Single Blog Post */

    .single-blog-content .clearing-thumbs li a:hover {cursor: zoom-in;}

    /* Typography */

    a:hover * {
        color: $gray-dark;
        transition: color $transition;
    }

}