@font-face {
    font-family: 'oblikbold';
    src: url('../font/oblik/oblik-bold-webfont.eot');
    src: url('../font/oblik/oblik-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/oblik/oblik-bold-webfont.woff2') format('woff2'),
         url('../font/oblik/oblik-bold-webfont.woff') format('woff'),
         url('../font/oblik/oblik-bold-webfont.ttf') format('truetype'),
         url('../font/oblik/oblik-bold-webfont.svg#oblikbold') format('svg');
    font-style: normal;
	font-weight: normal;
}

a {color: $corporate}

a:hover * {
	color: $corporate-dark;
	transition: color $transition;
}

h1, h2, h3, h4 {
    font-family: oblikbold;
	font-style: normal;
    font-weight: normal;
	margin: 0;
}

h1, h2 {
	margin-top: 0;
	text-transform: uppercase;
}

h1 {
	color: $corporate;
	font-size: 2rem
}

h2 {  
	color: $gray-dark;
	font-size: $section-main-heading-size;
	background: none;
	text-transform: initial;
}

h3 {
	color: $gray-dark;
	font-size: $section-secondary-heading-size;
	margin: $gutter 0 #{$gutter / 2} 0;
}

h4 {font-size:$section-secondary-heading-size}

p {
	font-weight: 300;
	color: $gray-dark
}

ul li {
	font-weight: 300;
	color: $gray-dark
}

@media #{$small-only} {
	html {
		font-size: 80%;
	}
}

