button, .button {
    font-size: 0.8rem;
    margin-bottom: $gutter;
    padding: 0.3rem 1rem;
    height: $gutter * 2;
}

.button_read-more {
    margin-bottom: 0;
    margin-right: $gutter;
}

.button_send {@extend .button}

.button_submit {
    margin-bottom: 0;
    width:100% !important;
}