.filter--container {
    padding:0 $gutter;
}

.filter .section--container {
    width: calc(100% - (2 * #{$gutter}));
}

.filter .half {
    float: left;
    width: calc(50% - (#{$gutter} / 2));
}

.filter .half:nth-child(even) {
    float: right;
}