.filter {
    padding-bottom: 0;
    padding-top: 0;

    h2 {@include section-header}

    .row {
        padding: 0 $gutter 0 $gutter;
    }

    .row > div  {
        float: left;
        width: calc(50% - (#{$gutter} / 2));
    }

    .row > div:nth-child(even) {
        float: right;
    }
}